# This workflow tests that the branch can successfully be created
name: Integration

on:
  push:
    branches: [ main ]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - name: Check Out Code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Create Test Branch
      uses: emmasax4/action-create-branch@main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        branch: test-branch

    - name: Delete Test Branch
      uses: dawidd6/action-delete-branch@v2.0.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branches: test-branch
