# This workflow tests that the project can build and tests can run
name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
    - name: Check Out Code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Define Environment Variables
      run: |
        if [[ ${{ github.ref }} == 'refs/heads'* ]]; then # this is a branch, not a pull request
          echo "branch=$(echo ${{ github.ref }} | sed -E 's|refs/[a-zA-Z]+/||')" >> $GITHUB_ENV
        else
          echo "branch=$(echo ${{ github.head_ref }} | sed -E 's|refs/[a-zA-Z]+/||')" >> $GITHUB_ENV
        fi

    - name: Switch to Current Branch
      run: git checkout ${{ env.branch }}

    - name: NPM CI
      run: npm ci

    - name: NPM Install
      run: npm install

    - name: NPM Build
      run: npm run build

    - name: NPM Test
      run: npm run test
